<h1>Listing board_sports</h1>

<table>
  <tr>
    <th>Boardname</th>
    <th>Board</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @board_sports.each do |board_sport| %>
  <tr>
    <td><%= board_sport.BoardName %></td>
    <td><%= board_sport.board_id %></td>
    <td><%= link_to 'Show', board_sport %></td>
    <td><%= link_to 'Edit', edit_board_sport_path(board_sport) %></td>
    <td><%= link_to 'Destroy', board_sport, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Board sport', new_board_sport_path %>
