<p id="notice"><%= notice %></p>

<p>
  <b>Boardname:</b>
  <%= @board_sport.BoardName %>
</p>

<p>
  <b>Board:</b>
  <%= @board_sport.board_id %>
</p>


<%= link_to 'Edit', edit_board_sport_path(@board_sport) %> |
<%= link_to 'Back', board_sports_path %>
