<div id="<%= dom_id board %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Board name:</strong>
    <%= board.board_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase date:</strong>
    <%= board.purchase_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purchase price:</strong>
    <%= board.purchase_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Current price:</strong>
    <%= board.current_price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Board length:</strong>
    <%= board.board_length %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Board volume:</strong>
    <%= board.board_volume %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Board type:</strong>
    <%= board.board_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Last used date:</strong>
    <%= board.last_used_date %>
  </p>

</div>
