<div id="<%= dom_id wind_session %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= wind_session.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= wind_session.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Session date:</strong>
    <%= wind_session.session_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Duration hours:</strong>
    <%= wind_session.duration_hours %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= wind_session.notes %>
  </p>

</div>
